{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Opinion Polling Application{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{% static 'polls/stylesheets/normalize.css' %}" >
        <link rel="stylesheet" href="{% static 'polls/stylesheets/main.css' %}">
        <link rel="stylesheet" href="{% static 'polls/stylesheets/style.css' %}" >
        <script src="{% static 'polls/javascripts/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="navbar-wrapper">
          <div class="container>
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
              <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                  {% block sidebar %}
                  <ul class="nav navbar-nav">
                    <li><a href='/polls/'>Home</a></li>
                    <li><a href='#'>All Polls</a></li>
                  </ul>
                  {% endblock %}
              </div> <!--- container -->
            </nav>
          </div> <!--container-->
        </div> <!-- navbar-wrapper -->

        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div id="content">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="{% static 'polls/javascripts/plugins.js' %}"></script>
        <script src="{% static 'polls/javascripts/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
