{% extends "polls/base.html" %}

{% block title %} {{ question.question_test|truncatewords:15 }} | Results {% endblock %}

{% block content %}
<h1>{{ question.question_test }}</h1>

<ul>
  {% for choice in question.choice_set.all %}
    <li>
      {{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}
    </li>
  {% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
{% endblock %}
